name: non-existent-secret

on:
    workflow_dispatch:
    
jobs:
    job1:
        runs-on: ubuntu-latest
        outputs:
            exit_code: ${{ steps.do_something.outputs.failure_message }}
        steps:
            - uses: actions/checkout@v4
            - id: 'do_something'
              run: |
                NOT_A_SECRET=${{secrets.NOT_A_SECRET}}
                echo "not a secret: *"$NOT_A_SECRET"*"
