name: secret exposure test

on:
    workflow_dispatch:
    
jobs:
    job1:
        runs-on: ubuntu-latest
        outputs:
            exit_code: ${{ steps.do_something.outputs.failure_message }}
        steps:
            - uses: actions/checkout@v4
            - id: 'do_something'
              run: |
                A_SECRET=${{secrets.SOME_REAL_SECRET}}
                echo "not a secret: *"$A_SECRET"*"

                echo ${{secrets.SOME_REAL_SECRET}}>somefile.txt
                echo "cat file"
                cat somefile.txt
